<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select my-3" (change)="OnSortChange($event.target.value)" >
                <option *ngFor="let opt of sortOptions" [value]="opt.value">{{opt.name}}</option>
                
            </select>

            <h5 class="text-warning ml-3">Type/Category</h5>
            <ul class="list-group mb-3">

                <li *ngFor="let category of categoriesList" class="list-group-item" 
                (click)="onCategoryIdSelected(category.id)"
                [class.active]="category.id===filterObject.categoryId"
                 
                >{{category.categoryName}}</li>
                
            </ul>
            <h5 class="text-warning ml-3">Brand</h5>
            <ul class="list-group my-3">
              <li *ngFor="let brand of brandsList" 
                   class="list-group-item"
                   [class.active]="brand.id===filterObject.brandId"
                  (click)="onBrandIdSelected(brand.id)">{{brand.productBrandName}}</li>
         

            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
              <header>
                <span>Showing<strong>10</strong> of <strong>16</strong> Results</span>
              </header>
                <div class="form-inline mt-2">
                    <input  type="text" class="form-control mr-2"  placeholder="Search" style="width: 300px;">
                    <button class="btn btn-outline-primary my-2">Search</button>
                    <button class="btn btn-outline-success ml-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
              <div class="col-4 mb-4" *ngFor="let product of productsList">
            <app-product-item [productItem]="product"></app-product-item>
          </div>
          </div>

          
        </section>
    </div>
</div>